body {
            font-family: 'Plus Jakarta Sans', sans-serif;
        }

        /* Layout boundaries standard lock */
        html,
        body {
            overflow-x: hidden !important;
            overflow-y: auto !important;
            height: auto !important;
            min-h-screen: 100vh;
        }

        ::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        ::-webkit-scrollbar-track {
            background: #09090b;
        }

        ::-webkit-scrollbar-thumb {
            background: #27272a;
            border-radius: 3px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #f59e0b;
        }